/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .11);
}

.navbar-logo img {
    width: 40px;
    height: 40px;
}

.brand-title {
    display: flex;
    align-items: center;
}

.user-dropdown {
    display: flex;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 16px;
}

/* Sidebar styles */
.sidebar {
    width: max-content;
    height: 100%;
    flex-basis: auto;
    background-color: #f4f4f4;
    position: absolute;
    padding: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .11);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    height: 25px;
    border-bottom: 2px solid black;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
}

.sidebar ul li:hover {
    border-color: $bg_container_color;
}

.main-content {
    margin-left: 90px;
    // padding: 20px;
}

.tablecustom {
    margin-left: 72px;
    padding: 20px;
}

.selected-sidebar-option {
    background-color: $bg_container_color;
}