/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative; //sticky;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .11);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
}

.brand-title {
    margin-left: 10px;
}

.ml-auto {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-dropdown {
    display: flex;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.login-button {
    margin-left: 10px;
}

.login-button {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: scale(0.95);
}

.visible {
    opacity: 1;
    transform: scale(1);
}

.user-name {
    font-size: 16px;
}

/* Sidebar styles */
.sidebar {
    width: 100px;
    height: 100%;
    background-color: #f4f4f4;
    position: absolute;
    padding: 20px 0;
    overflow-y: auto;
    box-shadow: 0 3px 6px 0 rgb(17 82 73 / 86%);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li:hover {
    // margin: 15px 0;
    // height: 25px;
    background-color: #c8dfdf;

}

.sidebar ul li a {
    // text-decoration: none;
    // color: #000;
    display: grid;
    padding: 15px;
    color: black;
    text-decoration: none;
}

// .sidebar ul li a:hover {
//     background-color: #555;
// }

/* Active state for li */
.sidebar ul li.active {
    background-color: #c8dfdf;
    /* Different color for the active item */
}

.main-content {
    margin-left: 110px;
    // padding: 20px;
}

.tablecustom {
    margin-left: 93px;
    padding: 20px;
}



// /* Responsive adjustments */
// @media (max-width: 768px) {
//     .sidebar {
//         width: 200px;
//         /* Adjust width for smaller screens */
//     }

//     .content {
//         margin-left: 200px;
//         /* Adjust margin to match sidebar width */
//     }
// }

// @media (max-width: 480px) {
//     .sidebar {
//         width: 100%;
//         /* Full width on very small screens */
//         height: auto;
//         /* Adjust height to fit content */
//         position: relative;
//         /* Sidebar scrolls with page */
//     }

//     .content {
//         margin-left: 0;
//         /* Remove margin on very small screens */
//     }
// }