html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  align-items: center;
  background-color: grey;
  z-index: 99;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
}

.navbar-logo img {
  width: 40px;
  height: 40px;
}

.brand-title {
  display: flex;
  align-items: center;
}

.user-dropdown {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
}

/* Sidebar styles */
.sidebar {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  flex-basis: auto;
  background-color: #f4f4f4;
  position: absolute;
  padding: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  height: 25px;
  border-bottom: 2px solid black;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
}

.sidebar ul li:hover {
  border-color: #c8dfdf;
}

.main-content {
  margin-left: 90px;
}

.tablecustom {
  margin-left: 72px;
  padding: 20px;
}

.selected-sidebar-option {
  background-color: #c8dfdf;
}

.search-container {
  display: flex;
  position: sticky;
  width: 300px;
  margin: 20px 0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Table with borders */
.table-bordered {
  border: 1px solid #ddd;
  /* Add a border around the table */
}

/* Add borders to table cells */
.table-bordered .table {
  border-collapse: collapse;
  /* Ensure borders are not separated */
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
  /* Add borders to table cells */
  /* Add padding to cells */
}

.table-bordered td {
  z-index: 0 !important;
}

.table-bordered th {
  background-color: #f2f2f2;
  position: sticky !important;
  top: 0 !important;
  /* Optional: add background color to headers */
}

/* CSS Styles for aligning pagination controls */
.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  /* Aligns pagination to the right */
}

.react-bootstrap-table-pagination {
  margin-bottom: 10px;
}

/* Ensure pagination is on the top */
.bootstrap-table .pagination-top {
  display: flex;
  justify-content: flex-end;
  /* Aligns pagination to the right */
}

body {
  background-color: #c8dfdf;
}

.vertical-line {
  border: 1px solid black;
  margin-left: 10px;
  height: 30px;
}/*# sourceMappingURL=main.css.map */